<!DOCTYPE html>
<head>
        <title>
            Task Example
        </title>
        <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" />
        <!-- <script>
            function done(taskTag){
                const _id = taskTag.getAttribute("data-taskID");       //write API call
                console.log(_id)
                axios.post('/', {
                    id: _id
                })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
            
        </script> -->
    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text text-center">
                <p id="comicTitle">"{{ comic.title}}"</p> 
                <p id="comicName">- XKCD </p>
    
                <!-- random button -->
                <form class="form-button" action="/" method="post">
                    <a href="/id/{{ random 1 614 }}"><p class="form-control">Random</p></a>
                </form>
    
                <!-- Comic and Date -->
                <img src={{ comic.img }} alt={{ comic.alt }} class="ComicData">                    
                <p id="comicDate">{{ comic.month }}/{{ comic.day }}/{{ comic.year }}</p>
    
    
                  </div>
              </div>
            </div>  
        </div>
    </div>

</body>