<!DOCTYPE html>
<head>
    <title>
        Task Example
    </title>
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" />
</head>
<form action="/" method="POST" class="task-header"></form>